---
import MainHead from "../components/MainHead.astro"
import Footer from "../components/Footer.astro"
import Nav from "../components/Nav.astro"
import Tags from "../components/ProjectPreview/Tags.astro"

const { content } = Astro.props
---

<html lang={content.lang || "en"}>
  <head>
    <MainHead title={content.title} description={content.description} />
    <style>
      .hero {
        position: relative;
        padding: 8rem;
        display: flex;
        background-color: var(--t-fg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 60%;
        min-height: 25vw;
        color: white;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .title {
        font-size: var(--f-u10);
        font-weight: 900;
        padding: 0 0.75rem;
        background-color: rgba(0, 0, 0, 0.5);
        text-transform: uppercase;
        letter-spacing: 0.0625em;
        z-index: 2;
      }

      .leadIn {
        padding-top: 4em;
        color: var(--t-bg);
        background-color: var(--t-fg);
        text-align: center;
      }

      .tagline {
        font-weight: 300;
        font-size: var(--f-u3);
        line-height: 1.5;
      }

      .content {
        font-size: var(--f-u1);
        line-height: 2.2;
        max-width: 50em;
        margin: auto;
      }

      .wrapper {
        padding-bottom: 4em;
        margin-bottom: 4em;
      }

      footer {
        text-align: center;
        margin-top: 3rem;
      }

      .imgOverlay {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
      }
    </style>
  </head>
  <body>
    <Nav />
    <header style={`background-image:url(${content.img})`} class="hero">
      <h1 class="title">{content.title}</h1>
    </header>
    <div class="leadIn">
      <div class="wrapper">
        <div class="flex justify-center items-center">
          <Tags tags={content.tags} />
        </div>
        <h3 class="tagline">{content.description}</h3>
      </div>
    </div>
    <div class="wrapper">
      <div class="content"><slot /></div>
    </div>
    <footer>
      <a href="/projects" class="button">View More</a>
    </footer>
    <Footer />
  </body>
</html>
